/*Bakgrunnsfarge for hele skjermen */
body {
  background-color: rgb(245, 245, 245);
  margin: 0;
  width: 100%
}

/* Topp-seksjonen, inneholder meny og logo */
header {
  position: fixed;
  height: 60px;
  width: 100%;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
  z-index: 2;
}

/* Menyskesjon */
nav {
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  width: 60%;
  float: right;
}

/* -- Hamburgermeny start -- (Herman) */
/* Menyknapp */
#Knapp {
  display: block;
  position: relative;
  float: right;
  top: 20px;
  right: 20px;
  z-index: 1;
}

/* Checkbox for å åpne lukke meny */
#Knapp input {
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  top: -7px;
  left: -5px;
  opacity: 0;
  z-index: 2;
}

/* Hamburgerstreker */
#Knapp span {
  display: block;
  width: 28px;
  height: 3px;
  margin-bottom: 5px;
  position: relative;
  background: #fff;
  border-radius: 3px;
  z-index: 1;
  /* Klikk-effekt */
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

/* Klikk-effekt */
#Knapp span:first-child {
  transform-origin: 0% 0%;
}

/* Klikk-effekt */
#Knapp span:nth-last-child(2){
  transform-origin: 0% 100%;
}

/* Klikk-effekt */
#Knapp input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #fff;
}

/* Skjul midterste strek */
#Knapp input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#Knapp input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

/* Meny-felt */
#Meny {
  position: absolute;
  width: 70vw;
  height: 100vh;
  margin: -100px 0 0 -70vw;
  padding: 50px;
  padding-top: 125px;
  background: #ededed;
  list-style-type: none;
  padding: 125px 0 125px 50px;
  background: rgba(0, 0, 0, 0.85);
/* Slide inn effekt */
  transform-origin: 0% 0%;
  transform: translate(+100vw, 0);
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#Meny li {
  padding: 10px 0;
  font-size: 22px;
}

/* Slide inn når menypunktet er klikket */
#Knapp input:checked ~ ul
{
  transform: none;
}

/* -- Hamburgermeny slutt -- */


/* Liste for meny (Herman)*/
ul {
  list-style: none;
  margin: 0px;
}
/* Listepunkter i meny (Herman)*/
li a {
  display: block;
  margin: 4px;
  padding: 10px;
  color: #fff;
  text-decoration: none;
  font-size: 20px;
}

/*Grå farge på linkingen til undersidene når musepeker er over*/
li a:hover {
  font-weight: bold;
  color: #cacaca;
}

/* uib- og mbc-logoene på "Om oss"-undersiden (Liva) */
#uib {
  background: url(../img/uib.png) center;
  background-size: 100% 100%;
  width: 95px;
  height: 95px;
  float: left;
}
#mcb {
  background: url(../img/mcb.png) center;
  background-size: 100% 100%;
  width: 250px;
  height: 90px;
  float: right;
}

/* Header på undersidene (nederste del av forsidebildet) (Liva) */
#topBanner1 {
  background: url(../img/forside.jpg);
  background-size: 100%;
  background-position: 100% 100%;
  width: 100%;
  height: 60px;
  background-repeat: no-repeat;
  position: fixed;
  z-index: 1;
}

/* Bilder skal skaleres og plasseres proporsjonalt */
img {
 width: 100%;
 height: auto;
}

#map{
  width: 100%;
  height: 400px;
  background-color: grey;
}

/*Teksten om fjellene på forsiden*/
.fullWidth {
  width: 100%;
  float: center;
}

/* Gir klassen en høy Z-index */
.Z1 {
    z-index: 100;
    position: absolute;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}

#photo404 {
  background-image: url('../img/404.jpg');
  height: 100vh;
  background-size: auto;
  background-position: center;
  background-repeat: no-repeat;
}

/* Fonter */
 /* Alle linker */
a {
  text-decoration: none;
  color: #000
}

/*Meter over havet og antall timer*/
p {
  font-family: 'Lato', sans-serif;
  font-size: 16px;
}

p2 {
  font-family: 'Lato', sans-serif;
  font-size: 16px;



}

/*"Våt vandring" og undertekst over forsidebildet */
h1 {
  font-family: 'Crete Round', serif;
  font-size: 32px;
  display: flex;
  justify-content: center;
}

/*Bergens 7 - skrifttype*/
h2 {
  font-family: 'Crete Round', serif;
  font-size: 25px;
  margin: 10px;
}

/*Navn på fjellene  - skrifttype */
h3 {
  font-family: 'Crete Round', serif;
  font-size: 20px;
}

h4 {
  font-family: 'Crete Round', serif;
  font-size: 20px;
  float: left;
}

#om_oss h1 {
  font-size: 70px;
  float: center;
}

/* Styling for små mobilenheter */
@media screen and (min-width : 320px)
{

/* Beholder for innhold */
.container {
  height: auto;
  padding: 80px 10px 10px 10px;
  display: flex;
  flex-flow: row wrap;
  align-content: flex-start;
  justify-content: space-between;
}

/* Skjul stor meny på små skjermer (Herman) */
#StorMeny {
  display: none;
}

/* "Bergens 7 øverst i venstre hjørne i hvit  */
#logo {
    width: 40%;
    float: left;
}

/* Link i logo */
#logo a {
  text-decoration: none;
  color: #fff;
}

/*Bergens 7 - skrifttype*/
#logo h2 {
    font-size: 25px;
    margin: 10px;
    color: #fff;
  }
}

/*Importering og plassering av forsidebildet */
#forsidebilde {
  background-image: url('../img/forsidecopy.jpg');
  background-size: auto 800px;
  background-position: 50% top;
  width: auto;
  height: 80vh;
  max-height: 1000px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  top: 200px;
}

 /*Tekstboks over forsidebildet*/
.centerBox {
  text-align: center;
  width: 50%;
  margin: auto;
  color:white;
  text-shadow: 0 0 8px rgba(0, 0, 0, 0.4)
}

.centerBox h1 {
  font-size: 48px;
}

.centerBox p {
  font-size: 20px;
}

/* Kort for visning av turmål (Herman) */
.lineBox {
  min-height: 200px;
  width: 100%;
  background-color: white;
  transition: box-shadow 0.4s;
  -o- transition: box-shadow 0.4s;
  -moz- transition: box-shadow 0.4s;
  -webkit- transition: box-shadow 0.4s;
  margin-bottom: 30px;
}

.lineBox p, .lineBox h3 {
  padding: 0 15px 0 15px;
}

.lineBox:hover {
  box-shadow: 0 6px 30px 0 rgba(0, 0, 0, 0.3);
}
.centerLogoBox{
  width: 400px;
  align-content: center;
  margin: auto;
}

#om{
  text-align: left;
  margin: 10px;
}

/* Styling for stående nettbrett */
@media screen and (min-width : 530px) /*?? var 768ish*/
{

#Meny {
  margin: -100px 0 0 -40vw;
}

.container {
  align: center;
  width: 95%;
  margin: auto;
}

.lineBox {
  width: 48%;
}

.centerBox h1 {
  font-size: 52px;
}

#om{
  text-align: center;
  margin-top: 10%;
  margin-left: 20%;
  margin-right: 20%;
}

/*Bergens 7 - skrifttype*/
#logo h2 {
    font-size: 30px;
}

#logo a {
    font-size: 25px;
    margin: 10px;
    text-decoration: none;
    color: #fff;
  }

/* "Bergens 7 øverst i venstre hjørne i hvit  */
#logo {
    width: 30%;
    float: left;
    color: #fff;
}

}

/* Styling for små laptopskjermer */
@media screen and (min-width : 1024px)
{

#HamburgerMeny {
  display: none;
}

#StorMeny {
  display: block;
}

#StorMeny li a{
  float: right;
}
.container {
  align: center;
  max-width: 1200px;
  margin: auto;

}

/* fordeling av fjell-boksene */
.lineBox {
  width: 23%;
}

.logo img {
  width: 180px;
  height: 180px;
  padding: 10px;
}

#forsidebilde {
  height: 100vh;
}

/*Bergens 7 - skrifttype*/
#logo h2 {
    font-size: 30px;
    margin: 10px;
  }

  .halfWidth {
    display: flex;
    flex-direction: row;
    align-items: space-between;

  }
